/*-------------- about-block -----------------*/
.about-block{
	background: var(--bg-grey);

	&__head{
		font-family: var(--font-evolventa);
		font-size: 6rem;
		line-height: 1.1;
		margin-bottom: 160px;
	}

	&__title{
		font-family: var(--font-evolventa);
		font-size: 4.8rem;
		line-height: 1;
		margin-bottom: 6.7rem;
	}

	&__subtitle{
		font-family: var(--font-evolventa);
		font-size: 3.2rem;
		line-height: 1.2;
		margin-bottom: 5.5rem;
	}

	&__content{
		font-size: 2.4rem;
		padding: 50px 0;
		position: relative;

		p:last-child{margin-bottom: 0;}

		&_sb{
			display: flex;
			flex-direction: column;
			padding: 0;
			padding-bottom: 140px;
			font-size: 1.6rem;
		}
	}

	&__img{
		display: flex;
		align-items: flex-end;
		height: 100%;
		margin-left: -80px;

		img{margin-top: -70px;}
	}
}

@media (max-width: 767px) {
	.about-block{
		background: transparent;

		&__img{
			background: var(--bg-grey);
			margin: 0 -20px;
			overflow: hidden;

			img{
				display: block;
				max-height: 270px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&__title{
			font-size: 1.8rem;
			line-height: 1.1;
			margin-bottom: 2rem;
		}

		&__subtitle{
			font-size: 1.6rem;
			margin-bottom: 1.5rem;
		}

		&__content{
			font-size: 1rem;
			line-height: 1.5;
			padding: 24px 0 0;
		}

		&__head{
			width: 100%;
			font-size: 2.4rem;
			position: absolute;
			margin: 0;
			top: -190px;
			left: 0;
			z-index: 2;
		}
	}
}