/*-------------- about -----------------*/
.about{
	&__content{
		padding-left: 70px;
		p:last-child{margin-bottom: 0;}
	}

	.btn{margin-top: 23px;}
	&__content_indent{padding-left: 0;}
}

@media (max-width: 991px) {
	.about{
		&__content{padding-left: 40px;}
	}
}

@media (max-width: 767px) {
	.about{
		&__content{
			padding-left: 0;
			margin-top: 30px;

			h2, .h2{
				font-size: 2rem;
				br{display: none;}
			}

			.btn{margin-top: 5px;}
		}
	}
}
