/*-------------- bitrix -----------------*/
.popup-window{padding: 40px;}

.popup-window-overlay{
	background: rgba(24, 24, 27, 0.92)!important;
	opacity: 1;
}

.popup-window-close-icon{
	width: 36px;
	height: 36px;
}

.popup-window-close-icon{
	top: -36px;
	opacity: 1;

	&::after{
		width: 18px;
		height: 18px;
		background: url(../img/close-white.png) no-repeat center;
		background-size: contain;
	}
}

.filter .bx-filter-container-modef{
	left: auto;
	right: 0;
}