/*-------------- breadcrumb -----------------*/
.breadcrumb-wrap{
	&_white{
		.breadcrumb__item,
		.breadcrumb__item a{
			color: #fff;
		}
	}
}

.breadcrumb{
	position: relative;
	z-index: 2;

	&,
	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&{margin: 42px 0 22px;}

	&__item{
		display: inline;
		font-family: var(--font-evolventa);
		@include font(none, none, 1.4rem, 1.5, var(--color-text));
		opacity: 0.6;

		a{
			color: var(--color-text);
			text-decoration: none;
			transition: color 0.2s ease 0s;
		}

		a:hover{color: var(--color-primary);}
		&::before{display: none;}
	}

	// &__item:not(:last-child){margin-right: 10px;}

	&__item:not(:last-child)::after{
		content: '/';
		display: inline-block;
		width: 6px;
		height: 10px;
		// background: url(../img/ic-arrow-right.png) no-repeat center;
		// background-size: contain;
		margin-left: 2px;
	}
}

@media (max-width: 767px) {
	.breadcrumb{
		margin: 20px 0 12px;
		&__item{font-size: 0.8rem;}
	}

	.breadcrumb-wrap{
		&_white{
			.breadcrumb__item,
			.breadcrumb__item a{
				color: var(--color-text);
			}
		}
	}
}