/*-------------- catalog-sect-info -----------------*/
.catalog-sect-info-wrap{
	background: url(../img/bg-woman.jpg) no-repeat center;
	// background-attachment: fixed;
}

.catalog-sect-info{
	border: 3px solid var(--color-primary);
	padding: 74px 70px;

	&__item{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
		@include font(none, 500, 2.8rem, 1.3, var(--color-text));
		text-transform: uppercase;
		padding: 41px 36px 36px;
		border-top: 1.5px solid var(--color-primary);
		transition: color 0.2s ease 0s;
	}

	&__item:last-child{border-bottom: 1.5px solid var(--color-primary);}

	&__arr{
		flex-shrink: 0;
		transition: transform 0.2s ease 0s;
	}

	&__item:hover{color: var(--color-primary);}
	&__item:hover &__arr{transform: translateX(10px);}
}