/*-------------- form-img-page -----------------*/
.form-img-page{
	&__content{
		display: flex;
		align-items: center;
	}

	&__img{
		width: calc(48.5% + 100px);
		margin-left: -100px;
	}

	.page-form{
		flex-shrink: 0;
		width: 51.5%;
		position: relative;
		z-index: 2;
	}
}

@media (min-width: 992px) {
	.form-img-page{
		&_reverse &__content{flex-direction: row-reverse;}

		&_reverse &__img{
			margin-left: 0;
			margin-right: -100px;
		}
	}
}

@media (max-width: 991px) {
	.form-img-page{
		.page-form{width: 75%;}
	}
}

@media (max-width: 767px) {
	.form-img-page{
		&__content{
			flex-direction: column-reverse;
		}

		&__img,
		&_reverse &__img{
			width: auto;
			margin: 0 -20px;
		}

		.page-form{
			width: auto;
			padding: 0;
			border: none;
		}
	}
}