/*-------------- line-block -----------------*/
.line-block{
	padding: 27px 0;
	background: var(--color-primary);
	font-family: var(--font-evolventa);
	font-size: 2.8rem;
	color: #fff;
	text-align: center;
	line-height: 1.2;
}