/*-------------- page-form -----------------*/
.page-form{
	border: 3px solid var(--color-primary);
	padding: 50px 38px;
	background: #fff;

	.form-site{
		&__title{font-size: 3.6rem;}
		&__btn .btn{width: 100%;}
	}
}

@media (max-width: 767px) {
	.page-form{
		border-width: 1px;
		padding: 30px 20px;

		.form-site{
			margin-top: -10px;
			&__title{font-size: 2.4rem;}
		}
	}
}