/*-------------- paint-list -----------------*/
.paint-list{margin-bottom: -90px;}

.paint-item{
	padding: 90px 0;

	&__img_indent{margin-left: -350px;}

	.order-md-2 &__img_indent{
		margin-left: 0;
		margin-right: -350px;
	}

	&__top{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		margin-bottom: 30px;
	}

	&__head{
		font-family: var(--font-evolventa);
		font-size: 6.4rem;
		line-height: 1.1;
	}

	&__title{
		font-size: 3.6rem;
		font-weight: 500;
	}

	&__subtitle{
		font-size: 2.4rem;
		margin-top: 0.8rem;
	}

	&__text{margin-top: 37px;}

	&__btn{
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-top: 50px;

		.btn{
			min-width: 290px;
			font-size: 1.4rem;
		}
	}

	&__tag{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 6rem;
		border: 2px solid var(--color-primary);
		border-radius: 3rem;
		font-family: var(--font-btn);
		@include font(normal, 700, 1.4rem, 1.2, var(--color-text));
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		padding: 0 37px;
	}
}

.paint-info{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	&__item{flex-shrink: 0;}
}

.paint-structure{
	display: flex;
	margin-top: 50px;

	&__item{width: 50%;}

	&__title{
		font-size: 2rem;
		font-weight: 500;
		padding-bottom: 8px;
		border-bottom: 2px solid var(--color-text);
		margin-bottom: 12px;
	}
}

@media (max-width: 991px) {
	.paint-item{padding: 40px 0;}
	.paint-list{margin-bottom: 0;}
}

@media (max-width: 767px) {
	.paint-list{margin-top: -40px;}

	.paint-item{
		&__top{
			gap: 10px;
			margin-bottom: 16px;
		}

		&__head{font-size: 3rem;}
		&__title{font-size: 1.8rem;}

		&__subtitle{
			font-size: 1.4rem;
			margin-top: 0.2rem;
		}

		&__img{margin-bottom: 20px;}
		&__text{margin-top: 20px;}

		&__btn{
			margin-top: 25px;
			gap: 5px;

			.btn{
				min-width: 0;
				font-size: 0.8rem;
			}
		}

		&__tag{
			height: 4.4rem;
			font-size: 0.8rem;
			border-radius: 2.2rem;
			padding: 0 12px;
		}
	}

	.paint-info{
		gap: 10px;
		img{max-width: 35px;}
	}

	.paint-structure{
		margin-top: 20px;
		
		&__title{
			font-size: 1rem;
			padding-bottom: 4px;
			border-width: 1px;
		}

		&__list{font-size: 0.8rem;}
	}
}