extends ../layout/main

block variables
	- var title = 'Статьи';
	- var h1 = 'Статьи';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'о нас'},
			{href:'#',name:'статьи'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section
		.container-fluid
			.row
				.col-12
					.articles-list
						-
							var list=[
								{
									img:'article1.jpg',
									date:'16 декабря 2023',
									title:'Если клиенты желают выпрямить волосы',
								},
								{
									img:'article2.jpg',
									date:'16 декабря 2023',
									title:'Если клиенты желают выпрямить волосы',
								},
								{
									img:'article3.jpg',
									date:'16 декабря 2023',
									title:'Если клиенты желают выпрямить волосы',
								},
								{
									img:'article2.jpg',
									date:'16 декабря 2023',
									title:'Если клиенты желают выпрямить волосы',
								},
								{
									img:'article1.jpg',
									date:'16 декабря 2023',
									title:'Если клиенты желают выпрямить волосы',
								},
								{
									img:'article3.jpg',
									date:'16 декабря 2023',
									title:'Если клиенты желают выпрямить волосы',
								},
								
							]
						each item in list
							.article-item
								a(href="#").article-item__img-wrap
									span.article-item__img(style="background-image: url(assets/img/"+item.img+")")

								.article-item__content
									.article-item__info
										.article-item__date= item.date
										.article-item__title
											a(href="#")= item.title

									.article-item__arr
										+svg('ic-arrow-long','ic-arrow-long', '34', '12')