extends ../layout/main

block variables
	- var title = 'Содержание';
	- 
		var pagelist = [
			{href: 'main.html',name:'Главная'},
			{href: 'catalog.html',name:'Каталог'},
			{href: 'catalog-detail.html',name:'Каталог детальная'},
			{href: 'learning.html',name:'Обучение'},
			{href: 'learning-detail.html',name:'Обучение детальная'},
			{href: 'contacts.html',name:'Контакты'},
			{href: 'about.html',name:'О нас'},
			{href: 'requisites.html',name:'Реквизиты'},
			{href: 'vacancy.html',name:'Вакансии'},
			{href: 'tipografika.html',name:'Типографика'},
		];

block content
	section
		.container-fluid
			.row
				.col-12
					h1 содержание
					ul
						each page in pagelist
							li
								a(href=page.href, target="_blank")= page.name


