extends ../layout/main

block variables
	- var title = 'Содержание';
	- 
		var pagelist = [
			{href: 'main.html',name:'Главная'},
			{href: 'catalog.html',name:'Каталог'},
			{href: 'catalog-detail.html',name:'Каталог детальная'},
			{href: 'learning.html',name:'Обучение'},
			{href: 'learning-detail.html',name:'Обучение детальная'},
			{href: 'contacts.html',name:'Контакты'},
			{href: 'about.html',name:'О нас'},
			{href: 'requisites.html',name:'Реквизиты'},
			{href: 'vacancy.html',name:'Вакансии'},
			{href: 'delivery.html',name:'Доставка и оплата'},
			{href: 'sign_up_salon.html',name:'Записаться в салон'},
			{href: 'innovatis.html',name:'Инновации'},
			{href: 'salonam.html',name:'Салонам'},
			{href: 'distributors.html',name:'Дистрибьютерам'},
			{href: 'articles-list.html',name:'Статьи список'},
			{href: 'news-list.html',name:'Новости список'},
			{href: 'salon-innovatis.html',name:'Салонный уход INNOVATIS'},
			{href: 'paint.html',name:'Краситель'},
			{href: 'page-search.html',name:'Страница поиска'},
			{href: 'auth.html',name:'Вход в личный кабинет'},
			{href: 'registration.html',name:'Регистрация нового аккаунта'},
			{href: 'basket.html',name:'Корзина'},
			{href: 'order.html',name:'Оформление заказа'},
			{href: 'tipografika.html',name:'Типографика'},
		];

block content
	section
		.container-fluid
			.row
				.col-12
					h1 содержание
					ul
						each page in pagelist
							li
								a(href=page.href, target="_blank")= page.name


