footer.footer
	.footer__main
		.container-fluid
			.row
				.col-2
					.footer__logo
						img(src="assets/img/logo-footer.svg", alt="Logo")

				.col-6
					.footer-nav
						.footer-nav__item
							.footer-nav__title Gkeratin beauty
							
							ul.footer-menu
								-
									var list=[
										{text:'Бренды'},
										{text:'Салон красоты'},
										{text:'Доставка и оплата'},
									]
								each item in list
									li.footer-menu__item
										a(href="#").footer-menu__link= item.text

						.footer-nav__item
							.footer-nav__title каталог
							
							ul.footer-menu
								-
									var list=[
										{text:'Все товары'},
										{text:'Новинки'},
										{text:'Наборы'},
									]
								each item in list
									li.footer-menu__item
										a(href="#").footer-menu__link= item.text

						.footer-nav__item
							.footer-nav__title для бизнеса
							
							ul.footer-menu
								-
									var list=[
										{text:'Салонам'},
										{text:'Дистрибьюторам'},
										{text:'Обучение'},
									]
								each item in list
									li.footer-menu__item
										a(href="#").footer-menu__link= item.text


				.col-4
					.subscribe
						.subscribe__title Узнавайте первыми о наших новинках

						.subscribe__content
							input(type="email", placeholder="Ваш email*", required="required")
							input(type="submit", value="Подписаться").btn

						.subscribe__polit
							.subscribe__polit-item
								label.input-check
									input(type='checkbox')
									span.input-check__mark
										+svg('ic-tick','ic-tick', '9', '6')
									span.input-check__text Даю согласие на 
										a(href="#") обработку персональных данных 
							
							.subscribe__polit-item
								label.input-check
									input(type='checkbox')
									span.input-check__mark
										+svg('ic-tick','ic-tick', '9', '6')
									span.input-check__text Согласен на получение рассылки рекламно-информационного характера

					.social
						a(href="#").social__item
							+svg('ic-whatsapp','ic-whatsapp', '16', '16')

						a(href="#").social__item
							+svg('ic-telegram','ic-telegram', '16', '16')

						a(href="#").social__item
							+svg('ic-vk','ic-vk', '16', '16')


	.footer__bottom
		.container-fluid
			.row
				.col-8
					.footer__copyright © 2023, GKeratin Beauty Group официальный дистрибьютор ПРОФЕССИОНАЛЬНОЙ косметики на территории России с 2011 года

					ul.bottom-menu
						-
							var list=[
								{text:'Политика конфиденциальности'},
								{text:'Правила продажи товаров'},
								{text:'Авторские права'},
								{text:'Платежная информация'},
								{text:'Условия акции'},
								{text:'FAQ'},
								{text:'Информация о продавце'},
							]
						each item in list
							li.bottom-menu__item
								a(href="#").bottom-menu__link= item.text

				.col-4
					.footer__pay
						.pay-system
							.pay-system__label Способы оплаты:

							.pay-system__list
								.pay-system__item
									img(src="assets/img/visa.svg", alt="Visa")

								.pay-system__item
									img(src="assets/img/mastercard.svg", alt="Mastercard")

								.pay-system__item
									img(src="assets/img/maestro.svg", alt="Maestro")

						.app
							a(href="#").app__item
								img(src="assets/img/appstore.svg", alt="AppStore")

							a(href="#").app__item
								img(src="assets/img/google-play.svg", alt="Google play")

#callback(style='display: none;')
	.popup-form
		.js-valid-form
			form.form-site
				.form-site__title Заказать обратный&nbsp;звонок
				
				.form-site__content
					.form-site__item.js-form-site-item
						.form-site__field
							input(type="text", required="required", placeholder="Имя*")

					.form-site__item.js-form-site-item
						.form-site__field
							input(type="text", class="js-phone", required="required", placeholder="Телефон*")

					.form-site__item.js-form-site-item
						.form-site__field
							input(type="text", placeholder="Удобное время для звонка")
							
				
				.form-site__polit.js-form-site-polit
					label.input-check
						input(type='checkbox', required="required")
						span.input-check__mark
							+svg('ic-tick','ic-tick', '9', '6')
						span.input-check__text Я принимаю <a href="#">соглашение сайта</a> об обработке персональных данных

				.form-site__btn
					button(type="submit").btn.js-btn-submit
						span отправить

#msg-success(style='display: none;')
	.success-alert.js-success-alert
		.success-alert__icon
			+svg('ic-tick-circle','iic-tick-circle ic-stroke', '75', '75')

		.success-alert__title.js-success-alert-title Ваше сообщение отправлено!
		.success-alert__text.js-success-alert-text В ближайшее время с вами свяжется наш менеджер и обсудит все детали.