header.header
	.container-fluid
		.row.d-flex.align-items-center
			.col-4
				.header__info
					.header__phone
						a(href="tel:+78005050984") 8 (800) 505-09-84

					.header__callback
						a(href="#") заказать обратный звонок

			.col-4
				.header__logo
					a(href="#")
						img(src="assets/img/logo.svg", alt="Logo")

			.col-4
				.header-actions
					.header-actions__item
						.header-actions__icon
							+svg('ic-loop','ic-loop ic-stroke', '24', '24')

					.header-actions__item
						.header-actions__icon
							+svg('ic-wish','ic-wish ic-stroke', '26', '24')

					.header-actions__item
						.header-actions__icon
							+svg('ic-cart','ic-cart ic-stroke', '23', '26')
							.header-actions__count 0

					.header-actions__item
						.header-actions__icon
							+svg('ic-user','ic-user ic-stroke', '24', '27')
